

```
`# This is formatted as code`
```

# List of Stocks

**There is not no difference in the code between this and the file "Data Cleaning for Train Data.** I just want to keep it separate.

![image.png]()

In [155]:
%%javascript

Jupyter.keyboard_manager.command_shortcuts.add_shortcut('r', {
    help : 'run all cells',
    help_index : 'zz',
    handler : function (event) {
        IPython.notebook.execute_all_cells();
        return false;
    }}
);

shortcut to run all cells

press ctrl + m followed by r

In [156]:

import glob

path = r"C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL"
name = 'AAPL' # change the ticker name
files = glob.glob(path + "\*.csv")

for f in files:
  print(f)

C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_1998.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_1999.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2000.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2001.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2002.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2003.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2004.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2005.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2006.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2007.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2008.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2009.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2010.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2011.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2012.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2013.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2014.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2015.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2016.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2017.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2018.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2019.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2020.csv
C:\Users\night\RRL-Stock-Trading\Stock Tickers\AAPL\AAPL_2021.csv

In [157]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.DataFrame()
for yr in files:
    df = pd.concat([pd.read_csv(yr, parse_dates=True, index_col=1), df])
df.sort_index(inplace=True)
df.drop(['symbol'], axis=1, inplace=True)
df.head()

,askclose,askhigh,asklow,askopen,asksize,bidclose,bidhigh,bidlow,bidopen,bidsize,close,high,low,open,volume
time,,,,,,,,,,,,,,,
1998-01-02 09:31:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.105353,0.105816,0.105353,0.105353,18400.0
1998-01-02 09:31:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.105353,0.105816,0.105353,0.105353,18400.0
1998-01-02 09:32:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.105353,0.105353,0.104812,0.105353,63700.0
1998-01-02 09:32:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.105353,0.105353,0.104812,0.105353,63700.0
1998-01-02 09:33:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.105353,0.105353,0.104812,0.105353,29100.0

In [158]:

df = df[["close", "high", "low", "open", "volume"]]
df.head(15)

                        close      high       low      open   volume
time
1998-01-02 09:31:00  0.105353  0.105816  0.105353  0.105353  18400.0
1998-01-02 09:31:00  0.105353  0.105816  0.105353  0.105353  18400.0
1998-01-02 09:32:00  0.105353  0.105353  0.104812  0.105353  63700.0
1998-01-02 09:32:00  0.105353  0.105353  0.104812  0.105353  63700.0
1998-01-02 09:33:00  0.105353  0.105353  0.104812  0.105353  29100.0
1998-01-02 09:33:00  0.105353  0.105353  0.104812  0.105353  29100.0
1998-01-02 09:34:00  0.104348  0.105353  0.104348  0.105353  22000.0
1998-01-02 09:34:00  0.104348  0.105353  0.104348  0.105353  22000.0
1998-01-02 09:35:00  0.104812  0.105353  0.104348  0.104348   2700.0
1998-01-02 09:35:00  0.104812  0.105353  0.104348  0.104348   2700.0
1998-01-02 09:36:00  0.104812  0.105353  0.104812  0.105353   2900.0
1998-01-02 09:36:00  0.104812  0.105353  0.104812  0.105353   2900.0
1998-01-02 09:37:00  0.104812  0.105353  0.104348  0.104348  26500.0
1998-01-02 09:37:00  0.104812  0.105353  0.104348  0.104348  26500.0
1998-01-02 09:38:00  0.104812  0.105353  0.104812  0.104812   2800.0

In [159]:
## Verify Data has loaded 
print(f"No. of data points: {len(df)}")
print(f"Start of raw data: {df.index[0]}")
print(f"End of raw data: {df.index[-1]}")

No. of data points: 2290320
Start of raw data: 1998-01-02 09:31:00
End of raw data: 2021-05-24 16:00:00

# Data Preprocessing

In [160]:
start = '2017-01' ## YYYY-MM
end = '2021-12' ## YYYY-MM

df = df.loc[start:end].copy()

print("After filtering:")
print(f"No. of data points: {len(df)}")
print(f"Start of raw data: {df.index[0]}")
print(f"End of raw data: {df.index[-1]}")

After filtering:
No. of data points: 429150
Start of raw data: 2017-01-03 09:31:00
End of raw data: 2021-05-24 16:00:00

In [161]:
df.head(5)

                         close       high        low       open    volume
time
2017-01-03 09:31:00  27.536380  27.538756  27.443712  27.517371  968806.0
2017-01-03 09:32:00  27.621918  27.621918  27.510243  27.538756  249354.0
2017-01-03 09:33:00  27.633799  27.636175  27.617166  27.621918  163352.0
2017-01-03 09:34:00  27.586277  27.633799  27.567269  27.633799  251398.0
2017-01-03 09:35:00  27.600534  27.619542  27.591029  27.591029  166940.0

## Resampling into 15 and 30min data

**Run either one of the code blocks below and save the final csv**

In [162]:
# # 15 min df2
# df2 = pd.DataFrame()

# df2['close'] = df.close.resample('15min').last()
# df2['high'] = df.high.resample('15min').max()
# df2['low'] = df.low.resample('15min').min()
# df2['open'] = df.open.resample('15min').first()
# df2['volume'] = df.volume.resample('15min').sum()

In [163]:
# # 30 min df2
# df2 = pd.DataFrame()

# df2['close'] = df.close.resample('30min').last()
# df2['high'] = df.high.resample('30min').max()
# df2['low'] = df.low.resample('30min').min()
# df2['open'] = df.open.resample('30min').first()
# df2['volume'] = df.volume.resample('30min').sum()

In [164]:
# 1hr df2
df2 = pd.DataFrame()

df2['close'] = df.close.resample('60min').last()
df2['high'] = df.high.resample('60min').max()
df2['low'] = df.low.resample('60min').min()
df2['open'] = df.open.resample('60min').first()
df2['volume'] = df.volume.resample('60min').sum()

In [165]:
df2.head(20) # sanity check

                         close       high        low       open     volume
time
2017-01-03 09:00:00  27.436584  27.636175  27.267883  27.517371  6089191.0
2017-01-03 10:00:00  27.427080  27.522123  27.389063  27.436584  4359034.0
2017-01-03 11:00:00  27.391439  27.486482  27.355798  27.427080  3179034.0
2017-01-03 12:00:00  27.434208  27.450841  27.386687  27.391439  1907609.0
2017-01-03 13:00:00  27.389063  27.448465  27.386687  27.434208  1662067.0
2017-01-03 14:00:00  27.427080  27.434208  27.360550  27.389063  2340119.0
2017-01-03 15:00:00  27.555388  27.560140  27.417576  27.427080  4635949.0
2017-01-03 16:00:00  27.595782  27.595782  27.545884  27.555388  1058518.0
2017-01-03 17:00:00        NaN        NaN        NaN        NaN        0.0
2017-01-03 18:00:00        NaN        NaN        NaN        NaN        0.0
2017-01-03 19:00:00        NaN        NaN        NaN        NaN        0.0
2017-01-03 20:00:00        NaN        NaN        NaN        NaN        0.0
2017-01-03 21:00:00        NaN        NaN        NaN        NaN        0.0
2017-01-03 22:00:00        NaN        NaN        NaN        NaN        0.0
2017-01-03 23:00:00        NaN        NaN        NaN        NaN        0.0
2017-01-04 00:00:00        NaN        NaN        NaN        NaN        0.0
2017-01-04 01:00:00        NaN        NaN        NaN        NaN        0.0
2017-01-04 02:00:00        NaN        NaN        NaN        NaN        0.0
2017-01-04 03:00:00        NaN        NaN        NaN        NaN        0.0
2017-01-04 04:00:00        NaN        NaN        NaN        NaN        0.0

In [166]:
df2.tail(20) # sanity check

                        close      high       low     open      volume
time
2021-05-23 21:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-23 22:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-23 23:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-24 00:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-24 01:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-24 02:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-24 03:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-24 04:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-24 05:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-24 06:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-24 07:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-24 08:00:00       NaN       NaN       NaN      NaN         0.0
2021-05-24 09:00:00  126.6315  127.0400  125.9400  126.000  10169206.0
2021-05-24 10:00:00  127.4700  127.6600  126.0000  126.635  11982652.0
2021-05-24 11:00:00  127.5853  127.6800  127.2467  127.480   6757520.0
2021-05-24 12:00:00  127.4459  127.7900  127.3300  127.580   5456596.0
2021-05-24 13:00:00  127.5950  127.6900  126.8044  127.445   3731802.0
2021-05-24 14:00:00  127.8300  127.9400  127.2367  127.599   5384221.0
2021-05-24 15:00:00  127.0499  127.9100  127.0400  127.820   9482229.0
2021-05-24 16:00:00  127.1000  127.1992  127.0000  127.040   7372748.0

In [167]:
df2.isnull().values.any()

True

In [168]:

ticker = df2
ticker.drop(['close', 'low', 'open'], axis=1, inplace=True)
ticker.dropna(inplace=True) 
ticker.head()

                          high     volume
time
2017-01-03 09:00:00  27.636175  6089191.0
2017-01-03 10:00:00  27.522123  4359034.0
2017-01-03 11:00:00  27.486482  3179034.0
2017-01-03 12:00:00  27.450841  1907609.0
2017-01-03 13:00:00  27.448465  1662067.0

In [169]:
ticker.tail()

                         high     volume
time
2021-05-24 12:00:00  127.7900  5456596.0
2021-05-24 13:00:00  127.6900  3731802.0
2021-05-24 14:00:00  127.9400  5384221.0
2021-05-24 15:00:00  127.9100  9482229.0
2021-05-24 16:00:00  127.1992  7372748.0

In [170]:
# Print total points
# Check if there are NaN values

print(ticker.isnull().values.any())
print(f"No. of data points in {name} dataset: {len(ticker)}")

False
No. of data points in AAPL dataset: 8810

In [171]:
# Save Ticker File as CSV and TXT
# ticker.to_csv(f"{name}.txt", sep='\t', index=False) # TXT
ticker.to_csv(f"{name}_1hr.csv", index=False) # CSV

# files.download(f"{name}.csv")
# files.download(f"{name}.txt")